# 1. Basic Structure
1. Print
2. Variable (Integer, string)
3. Function
4. Method
5. Formatting
6. List and Tuple
7. Dictionary
8. Set
9. Collection
10. Lambda Function
11. Copy

## 1. Print

In [1]:
a, b = 1, 2
print(a, b, sep = "") # Separator
print(a, b, sep = "->")

12
1->2

In [3]:
print(a, end = '') # add after printing
print(b)  ## default : newline

12

## 2. Variable
- Keyword can not be identifier  
if, else, elif, for, while, break, continue  
True, False, None  
and, or, not, in  
def, return, lambda, nonlocal, global  
try, except, finally, raise  
import, from, class  
is, del, with, as, yield, assert, pass

### 2-1) Integer
- 16 (hexadecimal) : 0x (0~9, a~f)
- 8 (octal) : 0o (0~7)
- 2 (binary) : 0b (0,1)

In [4]:
print(hex(20))
print(oct(20))
print(bin(20))

0x14
0o24
0b10100

### 2-2) String

In [9]:
# print("Hello "my" world") # error
print('Hello "my" world')

Hello "my" world

In [13]:
# Escape Sequence
print("Hello\nWorld")  ## \n : newline
print(r"c:\Desktop\a.txt")  ## raw

Hello
World
c:\Desktop\a.txt

In [14]:
answer = 1 * 2 * 3 * 4 * \  
              5 * 6 * 7
print(answer)

5040

In [18]:
# code
print(ord('a'))
print(chr(100))

97
d

In [19]:
print(5/2)
print(5//2) # remove decimal part

2.5
2

In [22]:
# print("Hello" + 2020) # error
print("Hello" + str(2002))

Hello2002

In [26]:
# round
print(int(5.67))
print(round(5.67))
print(round(5.67, 1))
print(round(123456, -3))

5
6
5.7
123000

## 3. Function

In [ ]:
def calc():
    pass
'''
# in C, Java
void calc()
{
}
'''

## 4. Method
- return BOOLEAN  
isalpha, islower, isupper, isspace, isalnum, isdecimal, isdigit, isnumeric, isidentifier, isprintable

In [27]:
s = "python programming"
print(len(s))
print(s.find('o'))
print(s.rfind('o'))  # rearfind
print(s.index('r'))
print(s.count('m'))

18
4
9
8
2

## 5. Formatting
%d : integer  
%f : float  
%s : string  
%c : char  
%h : hexadecimal  
%o : octal  
%% : %

In [29]:
# formatting and sort
a = 100
print("###%d###" % a)
print("###%5d###" % a)
print("###%10d###" % a)
print("###%-10d###" % a)
print("###%1d###" % a)

###100###
###  100###
###       100###
###100       ###
###100###

In [30]:
pi = 3.14159265
print("%10f" % pi)
print("%10.8f" % pi)
print("%10.5f" % pi)
print("%10.2f" % pi)

  3.141593
3.14159265
   3.14159
      3.14

In [32]:
print("a : {0}, b : {1}, c : {2}".format(10,20,30))
print("a : {0:^10d}, b : {1:>5d}, c : {2:<8.2f}".format(10,20,30.66))

a : 10, b : 20, c : 30
a :     10    , b :    20, c : 30.66

## 6. List and Tuple

In [34]:
# range remove
num = [0,1,2,3,4,5,6,7]
num[1:4] = []  # remove
print(num)

[0, 4, 5, 6, 7]

In [38]:
# list comprehension
nums = [2*n for n in range(1,11)]
print(nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
# insert
nums.append(22)
nums.insert(2, 100)  # (location, element) 
print(nums)

[2, 4, 100, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [40]:
# unpacking
tu = "apple", "banana", "cat"
a, b, c = tu
print(a, b, c)

apple banana cat

## 7. Dictionary

In [41]:
dic = {'a' : 10, 'b' : 20, 'c' : 30}
new_dic = {'d' : 40, 'e' : 50}

print(dic['a'])  # print value
print(dic.get('a'))

print(dic.keys())
print(dic.values())
print(dic.items())

10
10
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])
dict_items([('a', 10), ('b', 20), ('c', 30)])

In [42]:
dic.update(new_dic)
print(dic)  # merge

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

## 8. Set

In [43]:
a_set = {2, 4, 6, 8, 10, 12}
b_set = {3, 6, 9, 12, 15}

print(a_set & b_set)  # intersection
print(a_set | b_set)  # union
print(a_set - b_set)  # difference
print(a_set ^ b_set)  # symmetric difference

{12, 6}
{2, 3, 4, 6, 8, 9, 10, 12, 15}
{8, 2, 10, 4}
{2, 3, 4, 8, 9, 10, 15}

In [44]:
print(a_set <= b_set)  # issubset
print(a_set >= b_set)  # issuperset
# ( <, > : proper subset)

False
False

## 9. Collection

In [51]:
# enumerate
age = [11, 25, 4, 67, 83]
print(list(enumerate(age)))
for no, s in enumerate(age, 2):  # 2 : start setting
    print(str(no), s)

[(0, 11), (1, 25), (2, 4), (3, 67), (4, 83)]
2 11
3 25
4 4
5 67
6 83

In [54]:
# zip
alpha = ["a", "b", "c", "d", "e"]
num = [1, 2, 3, 4, 5]
list = zip(alpha, num)

for p, q in list:
    print(p,q)
print()    
print(dict(zip(alpha, num)))

a 1
b 2
c 3
d 4
e 5

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [55]:
# any, all
boo = [True, False, True, False]
print(any(boo))  # exist
print(all(boo))  # all

True
False

## 10. Lambda Function

In [56]:
# filter : subject to conditions
def flunk(s):
    return s < 60

score = [40, 50, 60, 70, 80]

for s in filter(flunk, score):  # filter(flunk, score) = [40, 50] -> return list
    print(s)

40
50

In [59]:
# map : for all element
def half(s):
    return s / 2

for s in map(half, score):
    print(s, end = '')

20.025.030.035.040.0

In [60]:
# lambda function : only input & output
lambda x:x+1  # input : x, output : x+1

In [62]:
for s in map(lambda x:x+1, score):
    print(s)

41
51
61
71
81

## 11. Copy

In [65]:
# separate storage
list1 = [1,2,3]
list2 = list1.copy()

list2[1] = 100
list1[2] = 200

print(list1)
print(list2)

[1, 2, 200]
[1, 100, 3]

In [67]:
# sharing 'list0'
list0 = ['a', 'b']
list1 = [list0, 1, 2]
list2 = list1.copy()

list2[0][1] = 'c'
print(list1)
print(list2)

[['a', 'c'], 1, 2]
[['a', 'c'], 1, 2]

In [69]:
# complete copy
import copy
list0 = ['a', 'b']
list1 = [list0, 1, 2]
list2 = copy.deepcopy(list1)

list2[0][1] = 'c'
print(list1)
print(list2)

[['a', 'b'], 1, 2]
[['a', 'c'], 1, 2]

In [70]:
# is
print(list0 is list1)

False